---
animateEverything: yes
extra-scripts:
  - "/assets/mbr-tabs/mbr-tabs.js"
---

{% include index_sections/splash.html %}
{% include index_sections/work-in-progress.html %}
{% include index_sections/timeline.html
  title="About Me"
  subtitle="Just your friendly neighborhood developer-man"
  data=site.data.timeline %}
{% comment %}
{% include index_sections/apps.html
  title="Previous Work"
  subtitle="These are the apps I done coded while I was at Digisoft!"
  data=site.data.apps %}
{% endcomment %}
{% include index_sections/skills.html
  title="Mad Skillz"
  data=site.data.skills %}
