{% for post in include.posts %}
<div class="post-list-header">
  <h1 style="display:inline-block;">
    <a href="{{ post.url }}">
      <div class="text-fill" style="width:12em; height:1em;">
        <span>{{ post.title}}</span>
      </div>
    </a>
  </h1>
  <span class="small left">{{ post.date | date_to_string }}</span>
  <span class="small right">
    <a href="{{ site.url }}/category/{{ post.category | url_encode }}/index.html">{{ post.categories | first | truncate: 10, '...' }}</a>
  </span>​
</div>
<div style="clear:both;"></div>
{{ post.excerpt }}
{% unless forloop.last %}
<hr>
{% endunless %}
{% endfor %}
