/**
 * Syntax highlighting styles
 */
.highlight {
    background: #eee8d5;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #eee8d5;
    }

    .c     { color: $green; font-style: italic } // Comment
    .err   { color: $red; background-color: $base02 } // Error
    .k     { color: $cyan; font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $green; font-style: italic } // Comment.Multiline
    .cp    { color: $orange; } // Comment.Preproc
    .c1    { color: $green; font-style: italic } // Comment.Single
    .cs    { color: $green; font-weight: bold; font-style: italic } // Comment.Special
    .gd    { color: $base01; background-color: $base02 } // Generic.Deleted
    .gd .x { color: $base01; background-color: $base02 } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $red } // Generic.Error
    .gh    { color: $violet } // Generic.Heading
    .gi    { color: $base1 } // Generic.Inserted
    .gi .x { color: $base1 } // Generic.Inserted.Specific
    .go    { color: $yellow } // Generic.Output
    .gp    { color: $yellow } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $base01 } // Generic.Subheading
    .gt    { color: $base01 } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: #268bd2; font-weight: bold } // Keyword.Type
    .m     { color: $orange } // Literal.Number
    .s     { color: $yellow } // Literal.String
    .na    { color: $blue } // Name.Attribute
    .nb    { color: $cyan } // Name.Builtin
    .nc    { color: $blue; font-weight: bold } // Name.Class
    .no    { color: $blue } // Name.Constant
    .ni    { color: $blue } // Name.Entity
    .ne    { color: $blue; font-weight: bold } // Name.Exception
    .nf    { color: $yellow; font-weight: bold } // Name.Function
    .nn    { color: $blue } // Name.Namespace
    .nt    { color: $blue } // Name.Tag
    .nv    { color: $magenta } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: #bbb } // Text.Whitespace
    .mf    { color: $magenta } // Literal.Number.Float
    .mh    { color: $magenta } // Literal.Number.Hex
    .mi    { color: $magenta } // Literal.Number.Integer
    .mo    { color: $magenta } // Literal.Number.Oct
    .sb    { color: $yellow } // Literal.String.Backtick
    .sc    { color: $yellow } // Literal.String.Char
    .sd    { color: $yellow } // Literal.String.Doc
    .s2    { color: $yellow } // Literal.String.Double
    .se    { color: $yellow } // Literal.String.Escape
    .sh    { color: $yellow } // Literal.String.Heredoc
    .si    { color: $yellow } // Literal.String.Interpol
    .sx    { color: $yellow } // Literal.String.Other
    .sr    { color: $yellow } // Literal.String.Regex
    .s1    { color: $yellow } // Literal.String.Single
    .ss    { color: $base0 } // Literal.String.Symbol
    .bp    { color: $base1 } // Name.Builtin.Pseudo
    .vc    { color: $blue } // Name.Variable.Class
    .vg    { color: $blue } // Name.Variable.Global
    .vi    { color: $blue } // Name.Variable.Instance
    .il    { color: $magenta } // Literal.Number.Integer.Long
}
