{% comment %}
Intended for use with yaml file: _data/skills.yml
{% endcomment %}
<section class="tabs1 cid-qKj5v6HVtl mbr-parallax-background" id="tabs1-1i">



  <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
  </div>
  <div class="container">
      <h2 class="mbr-white align-center pb-5 mbr-fonts-style mbr-bold display-2">Mad Skillz</h2>
      <div class="media-container-row">
          <div class="col-12 col-md-8">
              <ul class="nav nav-tabs" role="tablist">
                {% for item in include.data %}
                  <li class="nav-item"><a class="nav-link mbr-fonts-style active show display-7" role="tab" data-toggle="tab" href="#tabs1-1i_tab{{ forloop.index0 }}" aria-selected="true">
                          {{ item.title | raw }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for item in include.data %}
                  <div id="tab{{ forloop.index }}" class="tab-pane {% if forloop.first %} in active {% endif %}" role="tabpanel">
                      <div class="row">
                          <div class="col-md-12">
                              <p class="mbr-text py-5 mbr-fonts-style display-7">
                                {{ item.content | markdownify }}</p>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</section>
