<section class="header1 cid-qKiWwta7Q9 mbr-fullscreen mbr-parallax-background" id="header1-17">
  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);">
  </div>

  <div class="container">
      <div class="row justify-content-md-center">
          <div class="mbr-white col-md-10">
              <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1 animated fadeInLeft">
                  {{ site.title }}</h1>
              <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2 animated fadeInRight"><strong>{{ site.job_title }}</strong></h3>


          </div>
      </div>
  </div>
</section>
