{% comment %}
Intended for use with yaml file: _data/timeline.yml
{% endcomment %}
<section class="timeline2 cid-qKiWwWduRb mbr-parallax-background" id="timeline2-18">

  <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(204, 204, 204);">
  </div>

  <div class="container align-center">
      <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
          {{ include.title }}</h2>
      <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
          {{ include.subtitle }}</h3>

      <div class="container timelines-container" mbri-timelines="">
          {% for item in include.data %}
          <div class="row timeline-element {% cycle 'reverse', '' %} {% unless forloop.last %}separline{% endunless %}">
              <span class="iconsBackground">
                  <span class="mbr-iconfont {{ item.icon }}"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                          {{ item.title }}<br></h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">
                          {{ item.content | markdownify }}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</section>
