<section class="timeline2 cid-qKiWwWduRb mbr-parallax-background" id="timeline2-18">
  
  <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(204, 204, 204);">
  </div>

  <div class="container align-center">
      <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
          About Me</h2>
      <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
          Just your friendly neighborhood developer-man</h3>

      <div class="container timelines-container" mbri-timelines="">
          <div class="row timeline-element reverse separline">
              <span class="iconsBackground">
                  <span class="mbr-iconfont mbri-hearth"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                          Computer Games Development<br></h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">
                          Graduated with First Class Honours from the Insititute of Technology Carlow.</p>
                   </div>
              </div>
          </div>

          <div class="row timeline-element  separline">
              <span class="iconsBackground">
                  <span class="mbr-iconfont mbri-android"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left ">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                          Digisoft.tv</h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">
                          Started of doing embedded C/C++ and Java for set-top-boxes but quickly moved on to Android development in Java and Kotlin!</p>
                  </div>
              </div>
          </div>

          <div class="row timeline-element reverse separline">
              <span class="iconsBackground">
                  <span class="mbr-iconfont mbri-magic-stick"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">Associate C++ Developer</h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">Became a Certified C++ Associate Developer through Pearson Vue and the C++ Institute.</p>
                  </div>
              </div>
          </div>

          <div class="row timeline-element  separline">
              <span class="iconsBackground">
                  <span class="mbr-iconfont mbri-globe"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left ">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                          Bigger and better things!</h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam erat libero, bibendum in libero tempor, luctus volutpat ligula. Integer fringilla porttitor pretium. Nam erat felis, iaculis id justo ut, ullamcorper feugiat elit. Proin vel lectus auctor, porttitor ligula vitae, convallis leo. In eget massa elit.
                      </p>
                  </div>
              </div>
          </div>

          <div class="row timeline-element reverse">
              <span class="iconsBackground">
                  <span class="mbr-iconfont mbri-user"></span>
              </span>
              <div class="col-xs-12 col-md-6 align-left">
                  <div class="timeline-text-content">
                      <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                          Alex for world leader!</h4>
                      <p class="mbr-timeline-text mbr-fonts-style display-7">
                          All your base are belong to us. Gnome Ann can save you now!<br></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
